---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title=`${post.data.title} | K4D3`>
  <Container size="sm">
    <article>
      <header>
        <h1 class="article-h1">{post.data.title}</h1>
        <div class="article-extras">
          <p class="tag">
            {post.data.date} &bull; {post.data.readTime}
          </p>
        </div>
      </header>

      <Container size="xs">
        <Content />

        <div class="closing">
          <p>Thanks for reading!</p>
          <div class="closing__back">
            <a href="/blog">&larr; Back to Blog</a>
          </div>
        </div>
      </Container>
    </article>
  </Container>
</Layout>

<style>
  header {
    text-align: center;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-md);
    margin-bottom: var(--space-lg-2);
  }
  article h1 {
    font-size: var(--font-size-level-2);
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
  }

  .article-extras {
    margin-top: var(--space-xs);
  }

  .tag {
    font-family: "Roboto Mono", monospace;
    /* text-transform: uppercase; */
    /* font-size: var(--font-size-caption); */
  }

  .closing {
    margin-top: var(--space-lg-2);
    text-align: left;
  }
  .closing__back {
    margin-top: var(--space-xs);
  }
</style>
