@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    url("../assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../assets/fonts/Satoshi-Variable.woff") format("woff");
}

/* @font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/Syne-VariableFont_wght.ttf") format("truetype");
} */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
}

/* || CSS VARIABLES */

:root {
  /* --------------------------- COLORS --------------------------- */
  --color-bg: #121212;
  --color-bg-light: #fffcf8;
  --color-surface: #1a1a1a;
  --color-text-level-1: rgba(255, 255, 255, 0.87);
  --color-text-level-2: rgba(255, 255, 255, 0.6);
  --color-text-level-3: rgba(255, 255, 255, 0.38);
  --color-primary: #f9b110;
  --color-secondary: #2ea8ff;
  --color-tertiary: #ff79c0;
  --color-quarternary: #b692f6;
  --color-quinary: #9b94ff;
  --color-border: rgba(255, 255, 255, 0.2);
  --color-gradient: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-primary)
  );

  /* ------------ FLUID TYPE SCALE (Major Third 1.25) ------------ */
  /* Display */
  --font-size-display-lg: clamp(3.5rem, 6vw + 1rem, 9.3rem);
  --font-size-display-md: clamp(3rem, 5vw + 1rem, 7.4rem);
  --font-size-display-sm: clamp(2.5rem, 4.5vw + 1rem, 5.9rem);
  /* Headings */
  --font-size-level-1: clamp(2.25rem, 4vw + 1rem, 4.75rem);
  --font-size-level-2: clamp(2rem, 3.5vw + 1rem, 3.8rem);
  --font-size-level-3: clamp(1.75rem, 3vw + 1rem, 3.05rem);
  --font-size-level-4: clamp(1.5rem, 2.5vw + 1rem, 2.45rem);
  --font-size-level-5: clamp(1.25rem, 2vw + 1rem, 1.95rem);
  --font-size-level-6: clamp(1.125rem, 1.5vw + 1rem, 1.56rem);
  /* Text */
  --font-size-body: clamp(1.125rem, 1vw + 1rem, 1.25rem);
  /* --font-size-body: clamp(1.25rem, 1vw + 1rem, 1.375rem); */
  --font-size-caption: clamp(0.95rem, 0.5vw + 1rem, 1rem);
  --font-size-label: clamp(0.8rem, 0.4vw + 1rem, 0.8125rem);
  --font-size-tagline: clamp(0.625rem, 0.3vw + 1rem, 0.7rem);

  /* -------------------------- SPACING -------------------------- */
  --space-xxl: clamp(8rem, 12vw, 12rem);
  --space-xl: clamp(6rem, 10vw, 10rem);
  --space-lg-3: clamp(5rem, 7.5vw, 7.5rem);
  --space-lg-2: clamp(4rem, 6vw, 6rem);
  --space-lg: clamp(3rem, 4vw, 4rem);
  --space-md-2: clamp(2.5rem, 3vw, 3rem);
  --space-md: clamp(2rem, 2.5vw, 2.5rem);
  --space-sm-2: clamp(1.5rem, 2vw, 2rem);
  --space-sm: clamp(1rem, 1.5vw, 1.5rem);
  --space-xs: clamp(0.5rem, 0.6vw, 0.75rem);
}

.icon {
  width: var(--font-size-level-5);
  height: var(--font-size-level-5);
  color: var(--color-primary);
}

/* || LAYOUT UTILITIES */

.pad-around {
  margin-block: var(--space-xxl);
  margin-bottom: var(--space-lg);
}
.pad-bottom-md {
  margin-bottom: var(--space-md);
}
.pad-bottom-xl {
  margin-bottom: var(--space-xl);
}

.grid-auto-fit {
  --min-col-size: 320px;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col-size), 100%), 1fr)
  );
  gap: var(--space-md);
}
.no-gap {
  gap: 0;
}

.logo-grid {
  --min-col-size: 600px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
  padding: var(--space-sm);
}
.logo-grid img {
  /* filter: grayscale(100%); */
  /* transition: filter 0.3s ease; */
  border-radius: var(--space-md);
}

/* .grid-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--space-md);
} */

/* .header-hero {
  margin-bottom: var(--space-lg);
} */

.header-text {
  margin-bottom: var(--space-sm);
}
.header-project {
  padding-bottom: var(--space-lg);
}

.text-muted {
  color: var(--color-text-level-2);
}
.text-highlight {
  color: var(--color-text-level-1);
}
.text-highlight-color {
  /* color: var(--color-quinary); */
  color: var(--color-primary);
}

.link-highlight {
  color: var(--color-secondary);
}
.link-highlight:hover {
  color: var(--color-text-level-1);
}

.text-strike {
  color: var(--color-text-level-3);
}

/* || GENERAL STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* accessibility focus */
*:focus {
  outline: none;
}
*:focus-visible {
  outline: 2px solid #3b82f6; /* accessible blue */
  outline-offset: 2px;
}

h1,
h2,
h3 {
  text-wrap: balance;
  letter-spacing: -0.6px;
}

h1 {
  font-size: var(--font-size-display-sm);
  font-weight: 300;
  line-height: 1.1; /* use unitless ratio for responsive line height */
}

h2 {
  font-size: var(--font-size-level-2);
  /* font-family: "Satoshi", sans-serif; */
  font-weight: 300;
}

h3 {
  font-size: var(--font-size-level-4);
  /* font-family: "Roboto Mono", monospace; */
  /* text-transform: uppercase; */
  /* font-weight: 300; */
}

h4 {
  font-size: var(--font-size-level-5);
  line-height: 1.1;
}

p {
  font-size: var(--font-size-body);
  line-height: 1.8;
  color: var(--color-text-level-2);
  margin: 0;
  margin-bottom: 2.5rem;
  /* text-align: justify;
  hyphens: auto; */
}
p:last-of-type {
  margin-bottom: 0;
}

p,
li,
figcaption {
  /* max-width: 45ch; */
  text-wrap: pretty;
}

a {
  font-family: "Roboto Mono", monospace;
  color: var(--color-text-level-1);
  text-decoration: none;
  transition: 300ms;
  font-size: var(--font-size-body);
}
a:hover {
  color: var(--color-secondary);
}
.active {
  color: var(--color-primary);
}

img {
  width: 100%;
  display: block;
  /* height: auto; */
  height: 100%;
  object-fit: cover;
  min-width: 0;
  /* border: 1px solid var(--color-border); */
  /* border-radius: 1rem; */
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-border);
  margin-top: var(--space-xs);
}
.hr-color {
  background: var(--color-gradient);
  margin-top: var(--space-xs);
}

/* || DIVIDERS */

.divider {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 960/80;
  will-change: transform; /* tries to fix pixel gap between divider */
}
.layered-steps-end {
  background-image: url("../assets/dividers/layered-steps-vibrant3.svg");
  margin-top: -2px;
}
.layered-wave {
  background-image: url("../assets/dividers/layered-waves-haikei.svg");
  margin-top: var(--space-xxl);
  margin-bottom: -2px; /* tries to fix pixel gap between divider */
}
.simple-wave {
  background-image: url("../assets/dividers/simple-wave.svg");
  margin-bottom: -2px;
}
.simple-wave-end {
  background-image: url("../assets/dividers/simple-wave-end.svg");
  margin-top: -2px;
}

/* || RESPONSIVE */

@media (max-width: 1040px) {
  .portrait-container {
    /* margin-top: var(--space-md); */
    /* position: relative; */
    bottom: -4.5rem;
  }
}

@media (max-width: 768px) {
  .menu-button,
  .close-menu-button {
    display: block;
  }

  #nav-links {
    padding: var(--space-md);
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh; /* fallback */
    height: 100dvh; /* full height on ios */
    width: 100%;
    z-index: 10;
    background-color: var(--color-bg);
    transition: 0.3s ease-in-out;
  }
  #nav-links ul {
    flex-direction: column;
    align-items: end;
  }
  #nav-links.open {
    right: 0;
  }

  .sliding-navbar-links a {
    font-size: var(--font-size-caption);
  }

  .footerContent {
    flex-direction: column;
  }
  .footerContent li {
    max-width: unset;
  }
}
