---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
---

<Layout title="Contact | K4D3">
  <Container size="xs">
    <header class="header-hero">
      <h1 class="header-hero__h1">Contact</h1>
      <p>
        If you'd like to get in touch, please email{" "}
        <a href="mailto:hi@k4d3.com" class="link-highlight">hi@k4d3.com</a>, or
        you can use the form below. I hope to hear from you soon!
      </p>
    </header>

    <form action="https://formsubmit.co/hi@k4d3.com" method="POST">
      <input type="hidden" name="_captcha" value="false" />

      <input
        type="hidden"
        name="_subject"
        value="New contact form submission!"
      />

      <input
        type="hidden"
        name="_next"
        value="https://kadezaccaro.com/success"
      />

      <div class="input-container">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" autocomplete="name" required />
      </div>

      <div class="input-container">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
        />
      </div>

      <div class="input-container">
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
      </div>

      <Button type="submit" size="full" variant="secondary">
        Send message
      </Button>
    </form>
  </Container>
</Layout>

<style>
  .header-hero {
    margin-bottom: var(--space-md);
  }
  .header-hero__h1 {
    font-weight: 700;
    line-height: 1;
    margin-bottom: var(--space-sm);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    font-size: var(--font-size-body);
    line-height: 1.1;
  }

  input,
  textarea {
    font-size: var(--font-size-body);
    line-height: 1.6;
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    color: var(--color-text-level-1);
    border: 2px solid var(--color-border);
    box-shadow: none;
    border-radius: 0.5rem;
    resize: vertical;
  }
  textarea {
    min-height: 14rem;
  }

  .submit-button {
    padding: 1rem;
    font-weight: 700;
  }
</style>
