---
import { Image } from "astro:assets";
import selfPortrait from "../assets/images/portrait-placeholder.jpg";
import cat1 from "../assets/images/z-roll.jpg";
import cat2 from "../assets/images/z-stretch.jpg";
import CatIcon from "./icons/CatIcon.astro";
import background from "../assets/background.svg";
---

<section class="about-section" id="about">
  <div class="about-container">
    <div class="about-container__bio">
      <header>
        <h2>About</h2>
        <!-- <hr /> -->
      </header>

      <div class="about-container__text">
        <div class="about-container__tagline">
          <h4>
            <strike class="text-strike">
              Designer with a passion for IT/Cybersecurity.
            </strike>
            <br />
            <span class="text-highlight">Human Being.</span>
          </h4>
        </div>

        <p>
          My introduction to design came at a young age with strong ambitions to
          learn and create high-quality work. <strong>
            While I have expanded my interests with IT and Cybersecurity, these
            ambitions continue to drive my projects today.</strong
          >
        </p>
        <p>
          My passion for Cybersecurity was sparked by an unfortunate hacking
          incident that resulted from a company data breach. To make a story
          short, I stepped up and{" "}
          <a href="/blog/the-hacked-account">disrupted the hack</a>.
        </p>
        <p>
          As a victim of data breaches, I hope to make a difference in
          protecting people and the organizations we rely on.
        </p>
        <p>
          Apart from my work, I enjoy exercising, playing video games, watching
          anti-scam creators, and <a href="/work/home-lab">homelabbing</a>!
        </p>
        <p>
          I’m currently in school for Cybersecurity, and exploring new hiring
          opportunities. I'd love to hear from you — {" "}
          <a href="mailto:hi@k4d3.com">hi@k4d3.com</a>.
        </p>
      </div>
    </div>

    <aside class="photo-stack">
      <figure>
        <Image src={selfPortrait} alt="temp self portrait" />
      </figure>

      <figure class="reverse">
        <Image src={cat1} alt="temp self portrait" />
      </figure>

      <figure>
        <Image src={cat2} alt="temp self portrait" />
      </figure>
    </aside>
  </div>
</section>

<style>
  .about-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding-top: var(--space-xl);
    margin-bottom: var(--space-lg);

    position: relative;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
  }
  .about-container__text {
    padding-top: var(--space-md);
    max-width: 60ch;
  }
  .about-container__tagline {
    margin-bottom: var(--space-lg);
  }
  .about-container__tagline h4 {
    font-weight: 400;
  }

  /* || PHOTO STACK */

  .photo-stack {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  figure {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    max-width: 20rem;
    border-radius: 2rem;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
  }
  figure:hover {
    rotate: 5deg;
    scale: 1.04;
  }

  .photo-stack figure {
    width: min(100%, 22rem);
    margin-top: -2rem;
  }
  .photo-stack figure:first-child {
    transform: rotate(5deg);
    margin-top: 0;
  }
  .photo-stack figure:nth-child(2) {
    transform: rotate(-4deg);
    margin-left: -10rem;
  }
  figure:nth-child(2):hover {
    rotate: -5deg;
  }
  .photo-stack figure:nth-child(3) {
    transform: rotate(6deg);
  }

  /* || RESPONSIVE */

  @media (max-width: 66rem) {
    .about-container {
      flex-direction: column;
      justify-content: end;
      gap: var(--space-lg);
    }

    .container-text-new {
      max-width: unset;
    }

    .photo-stack {
      grid-template-columns: repeat(3, 1fr);
      /* gap: 1rem; */
      padding-inline: var(--space-md);
    }
    .photo-stack figure {
      width: 100%;
      margin-top: 0;
    }
    .photo-stack figure:nth-child(3) {
      /* grid-column: 1 / -1; */
      /* justify-self: center; */
      /* width: 50%; */
    }
    .photo-container figure {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: right;
    }
    .photo-stack figure:nth-child(2) {
      margin-left: 0;
    }
  }
</style>
