---
import { Image } from "astro:assets";
import selfPortrait from "../assets/images/portrait-placeholder.jpg";
import cat1 from "../assets/images/z-roll.jpg";
import cat2 from "../assets/images/z-stretch.jpg";
import CatIcon from "./icons/CatIcon.astro";
import background from "../assets/background.svg";
---

<section class="about-section" id="about">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <div class="about-container">
    <div>
      <header class="about-header-section">
        <h3>About</h3>
      </header>

      <div class="container-text-new">
        <p>
          <strike className="text-strike">
            <strong>Designer with a passion for Cybersecurity.</strong>
          </strike>
          <br />
          <strong class="text-highlight">Human Being.</strong>
        </p>
        <p>
          My work is dedicated to designing thoughtful experiences. This means
          that I ask questions, brainstorm, plan approaches, and build enduring
          solutions.
        </p>
        <p>
          My introduction to design came at a young age with strong ambitions to
          learn and create high-quality work. Over the years, these ambitions
          continue to drive my projects as I look forward to continuous growth.
        </p>
        <p>
          Apart from design work, I enjoy coding, exercising, video games, my
          cat, and learning American Sign Language!
        </p>
        <p>
          I’m currently exploring new opportunities and available for freelance.
          I'd love to hear from you — {" "}
          <a href="mailto:kade@k4d3.com">kade@k4d3.com</a>.
        </p>
      </div>
    </div>

    <aside class="photo-stack">
      <figure>
        <Image src={selfPortrait} alt="temp self portrait" />
      </figure>

      <figure class="reverse">
        <Image src={cat1} alt="temp self portrait" />
      </figure>

      <figure>
        <Image src={cat2} alt="temp self portrait" />
      </figure>
    </aside>
  </div>
</section>

<style>
  .about-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding-block: var(--space-xl);
    position: relative;
  }

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    filter: blur(100px);
    opacity: 0.5;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
  }

  .about-header-section {
    padding-inline: var(--space-md);
  }

  .container-text-new {
    padding-top: var(--space-lg);
    padding-inline: var(--space-md);
    max-width: 60ch;
  }

  /* || PHOTO STACK */

  .photo-stack {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  figure {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    max-width: 20rem;
    border-radius: 2rem;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
  }
  figure:hover {
    rotate: 5deg;
    scale: 1.04;
  }

  .photo-stack figure {
    width: min(100%, 22rem);
    margin-top: -2rem;
  }
  .photo-stack figure:first-child {
    transform: rotate(5deg);
    margin-top: 0;
  }
  .photo-stack figure:nth-child(2) {
    transform: rotate(-4deg);
    margin-left: -10rem;
  }
  figure:nth-child(2):hover {
    rotate: -5deg;
  }
  .photo-stack figure:nth-child(3) {
    transform: rotate(6deg);
  }

  /* || RESPONSIVE */

  @media (max-width: 66rem) {
    .about-container {
      flex-direction: column;
      justify-content: end;
      gap: var(--space-lg);
    }

    .container-text-new {
      max-width: unset;
    }

    .photo-stack {
      grid-template-columns: repeat(3, 1fr);
      /* gap: 1rem; */
      padding-inline: var(--space-md);
    }
    .photo-stack figure {
      width: 100%;
      margin-top: 0;
    }
    .photo-stack figure:nth-child(3) {
      /* grid-column: 1 / -1; */
      /* justify-self: center; */
      /* width: 50%; */
    }
    .photo-container figure {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: right;
    }
    .photo-stack figure:nth-child(2) {
      margin-left: 0;
    }
  }
</style>
