---
interface Props {
  size?: "xs" | "sm" | "md" | "lg" | "full";
  class?: string;
}

const { size, class: className = "" } = Astro.props;
---

<div class:list={["container", size && `container--${size}`, className]}>
  <slot />
</div>

<style>
  .container {
    max-width: 82rem; /* default container value */
    margin: 0 auto;
    padding-inline: clamp(1rem, 4vw, 2rem); /* horizontal fluid padding */
    width: 100%;
  }

  .container--xs {
    max-width: 40rem;
  }

  .container--sm {
    max-width: 60rem;
  }

  .container--md {
    max-width: 75rem;
  }

  .container--lg {
    max-width: 129.5rem;
  }

  .container--full {
    max-width: none;
    padding: 0;
  }
</style>
