---
import Container from "./Container.astro";
import Reveal from "./Reveal.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import TwoColumn from "../components/TwoColumn.astro";
import Button from "../components/Button.astro";
---

<Container size="full">
  <hr class="divider-page-end" />
  <Container>
    <div class="cta-container">
      <h3 class="cta-container__header">Let's Connect</h3>
      <Button href="mailto:hi@k4d3.com">
        <MailIcon />
        hi@k4d3.com
      </Button>
    </div>
  </Container>
</Container>

<style>
  .cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-sm-2);
    margin-block: var(--space-xxl);
  }
  .cta-container__header {
    font-size: var(--font-size-level-2);
    font-weight: 800;
    line-height: 1;
  }

  .divider-page-end {
    margin-top: var(--space-xl);
  }

  @media (max-width: 40rem) {
    .cta-container {
      flex-direction: column;
    }
  }
</style>
