---
import Container from "./Container.astro";
import Reveal from "./Reveal.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import TwoColumn from "../components/TwoColumn.astro";
---

<!-- <div class="divider layered-wave"></div> -->
<Container>
  <div class="cta-container">
    <h3 class="cta-container__header">Let's Connect</h3>
    <!-- <MailIcon /> -->
    <button>hi@k4d3.com</button>
    <!-- <a href="mailto:kade@k4d3.com" class="email">kade@k4d3.com</a> -->
  </div>
</Container>
<!-- <div class="divider layered-steps-end"></div> -->

<style>
  .cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: var(--space-xxl);
  }
  .cta-container__header {
    font-size: var(--font-size-level-2);
  }
</style>
