---
import Container from "./Container.astro";
import Reveal from "./Reveal.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Container>
  <div class="cta-container">
    <hr />

    <div class="cta-inner-container">
      <!-- <MailIcon /> -->
      <h2 class="cta-lets-work">
        Let's connect &mdash; I'd love to hear from you.
      </h2>
      <a href="mailto:kade@k4d3.com" class="email">kade@k4d3.com</a>
    </div>
  </div>
</Container>

<style>
  hr {
    margin-top: 0;
  }

  .cta-container {
    margin-block: var(--space-xxl);
  }

  .cta-inner-container {
    padding-inline: var(--space-md);
  }

  .cta-lets-work {
    font-size: var(--font-size-level-3);
    line-height: 1;
    color: var(--color-text-level-1);
    margin-top: var(--space-lg);
    margin-bottom: var(--space-sm);
  }

  .email {
    color: var(--color-secondary);
  }
  .email:hover {
    transform: scale(1.04);
  }
  .email:active {
    transform: scale(0.96);
  }
</style>
