---
import Container from "./Container.astro";
import Reveal from "./Reveal.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Container>
  <!-- <div class="divider layered-wave"></div> -->

  <div class="container cta-flex-container">
    <h2 class="cta-lets-work">
      Let's connect &mdash; I'd love to hear from you.
    </h2>
    <div class="email-btn">
      <MailIcon />
      <a href="/contact">kade@k4d3.com</a>
    </div>
  </div>
</Container>

<div class="divider layered-steps-end"></div>

<style>
  .cta-flex-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-block: var(--space-xxl);
    /* border: 1px solid var(--color-border); */
    border-radius: 1rem;
    padding: var(--space-md);
  }

  .cta-lets-work {
    font-size: var(--font-size-level-3);
    line-height: 1;
    font-weight: 300;
    /* letter-spacing: -1px; */
    color: var(--color-text-level-1);
  }

  .email-button {
    font-size: var(--font-size-level-6);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    border: 4px solid var(--color-bg);
    font-weight: 700;
  }

  .email-btn {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    /* border: 2px solid var(--color-primary); */
    padding: var(--space-sm) var(--space-md);
    border-radius: 0.5rem;
  }
  .email-btn a {
    font-size: var(--font-size-level-5);
    font-family: "Satoshi", sans-serif;
    /* text-transform: uppercase; */
  }

  .email-button:hover {
    transform: scale(1.04);
  }
  .email-button:active {
    transform: scale(0.96);
  }

  .divider {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 960/80;
    will-change: transform; /* tries to fix pixel gap between divider */
  }
  .layered-wave {
    background-image: url("../assets/dividers/layered-waves-haikei.svg");
    margin-top: var(--space-xxl);
    margin-bottom: -2px; /* tries to fix pixel gap between divider */
  }
  .layered-steps-end {
    background-image: url("../assets/dividers/layered-steps-vibrant2.svg");
    margin-top: -2px;
  }
  .simple-wave {
    background-image: url("../assets/dividers/simple-wave.svg");
    margin-bottom: -2px;
  }
  .simple-wave-end {
    background-image: url("./assets/dividers/simple-wave-end.svg");
    margin-top: -2px;
  }
</style>
