---
interface Props {
  currentYear?: number;
}

const { currentYear = new Date().getFullYear() } = Astro.props;

import Container from "./Container.astro";
---

<footer class="container-xl">
  <div class="divider layered-steps-end"></div>

  <Container>
    <div class="container footerContent">
      <div class="footerSection">
        <h2>K4D3</h2>
        <p>
          A graphic designer & coder passionate about well-designed experiences
          with close attention href detail.
        </p>
      </div>

      <div class="footerSection">
        <h3>Navigation</h3>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>

      <div class="footerSection">
        <h3>Social</h3>
        <div class="social-icons">
          <ul>
            <li>
              <a
                href="https://www.github.com/"
                target="_blank"
                rel="noopener"
                aria-label="Visit github.com (opens in a new tab)"
              >
                GitHub
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener"
                aria-label="Visit instagram.com (opens in a new tab)"
              >
                Instagram
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener"
                aria-label="Visit linkedin.com (opens in a new tab)"
              >
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Container>

  <div class="container-xl footer-bottom">
    <Container>
      <div class="container footer-bottom-content">
        <p>K4D3 &copy; {currentYear}</p>
        <p>Coded with passion ❤</p>
      </div>
    </Container>
  </div>
</footer>

<style>
  /* || FOOTER */

  /* Footer Content Grid */
  .footerContent {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    padding-block: var(--space-xl);
  }
  .footerContent > * {
    flex: 1;
  }
  .footerSection:first-of-type {
    flex-grow: 2;
  }

  /* Footer Section */
  .footerSection {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }
  .footerSection h2 {
    font-size: var(--font-size-level-4);
  }
  .footerSection p {
    line-height: 1.6;
  }
  .footerSection h3 {
    font-weight: normal;
    font-size: var(--font-size-body);
    color: var(--color-text-level-2);
    letter-spacing: unset;
  }
  .footerSection ul {
    list-style: none;
  }
  .footerSection li {
    border-bottom: 1px solid var(--color-border);
  }
  .footerSection li:last-child {
    border-bottom: none;
  }
  .footerSection li a {
    /* Ensure the link covers the entire list item */
    display: block;
    padding: var(--space-xs) 0;
  }
  .footerSection li:first-child a {
    padding-top: 0;
  }
  .footerSection li:last-child a {
    padding-bottom: 0;
  }
  .footerSection a:hover {
    padding-left: 0.25rem;
  }

  .footer-bottom {
    border-top: 1px solid var(--color-border);
    padding-block: var(--space-md);
  }
  .footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bottom-content p {
    font-size: var(--fs-xs);
    margin: 0;
  }
</style>
