---
import Container from "./Container.astro";
import NavLink from "./NavLink.astro";
---

<header>
  <Container>
    <nav id="navbar">
      <a href="/">
        <span id="logo">k4d3</span>
      </a>

      <div id="nav-links">
        <ul>
          <li><NavLink href="/" label="Home" /></li>
          <li><NavLink href="/#about" label="About" /></li>
          <li><NavLink href="/blog" label="Blog" /></li>
          <li><NavLink href="/contact" label="Contact" /></li>
        </ul>
      </div>
    </nav>
  </Container>
</header>

<style>
  /* || NAV BAR */

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);
    padding-top: var(--space-md);
    margin-bottom: var(--space-xxl);
  }

  .nav-button {
    justify-self: end;
  }

  #logo {
    font-family: "Satoshi", sans-serif;
    font-size: var(--font-size-level-6);
    font-weight: bold;
    text-transform: uppercase;
  }

  #nav-links {
    justify-self: center;
  }

  #nav-links ul {
    list-style: none;
    display: flex;
    gap: var(--space-lg);
  }

  .menu-button,
  .close-menu-button {
    display: none;
    border: none;
    font-size: var(--font-size-level-3);
    padding: 0;
    background: none;
    color: var(--color-primary);
  }

  .contact-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* || SLIDING NAV BAR */

  .sliding-navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    position: fixed;
    /* top: -100px; */
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    transition: 0.3s ease;
    z-index: 9;
  }
  .sliding-navbar-visible {
    /* top: 0; */
    transform: translateY(0);
  }

  .sliding-navbar-links {
    display: flex;
    justify-content: space-between;
    /* gap: var(--space-lg); */
  }
  .sliding-navbar-links a {
    padding-block: var(--space-xs);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .sliding-navbar-links a:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
</style>
