---
const links = [
  { href: "/", label: "Home" },
  { href: "/work", label: "Work" },
  { href: "/#about", label: "About" },
  { href: "/blog", label: "Blog" },
  { href: "/contact", label: "Contact" },
];

const pathname = Astro.url.pathname;

import Container from "../components/Container.astro";
---

<header class="site-header">
  <Container>
    <div class="flex-container">
      <a href="/" class="logo"> K4D3 </a>

      <button
        class="menu-toggle"
        aria-label="Toggle navigation"
        aria-expanded="false"
        aria-controls="primary-nav"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav id="primary-nav" class="nav">
        <ul>
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class:list={{
                    active:
                      pathname === link.href ||
                      (link.href !== "/" && pathname.startsWith(link.href)),
                  }}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </Container>
</header>

<script>
  function initNavbar() {
    const header = document.querySelector(".site-header");

    if (header) {
      const button = header.querySelector(".menu-toggle");
      const nav = header.querySelector(".nav");
      const links = nav?.querySelectorAll("a");

      const openMenu = () => {
        button?.setAttribute("aria-expanded", "true");
        nav?.classList.add("open");
        //   document.body.style.overflow = "hidden";
      };

      const closeMenu = () => {
        button?.setAttribute("aria-expanded", "false");
        nav?.classList.remove("open");
        //   document.body.style.overflow = "";
      };

      const toggleMenu = () => {
        nav?.classList.contains("open") ? closeMenu() : openMenu();
      };

      button?.addEventListener("click", toggleMenu);

      links?.forEach((link) => link.addEventListener("click", closeMenu));

      // close mobile menu on escape key press
      document.addEventListener("keydown", (event) => {
        if (event.key === "Escape") {
          closeMenu();
        }
      });

      // close mobile menu on window resize
      window
        .matchMedia("(min-width: 768px)")
        .addEventListener("change", (event) => {
          if (event.matches) {
            closeMenu();
          }
        });
    }
  }

  // initNavbar();

  // re-init on page load to prevent astro transitions from breaking functionality
  document.addEventListener("astro:page-load", initNavbar);
</script>

<style>
  .site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-top: 2px solid;
    /* border-bottom: 1px solid var(--color-border); */
    border-image: linear-gradient(
        to left,

        var(--color-secondary),
        var(--color-tertiary),
        var(--color-primary)
      )
      1;
    background-color: var(--color-surface);
    margin-bottom: var(--space-xl);
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    width: 100%;
    margin: 0 auto;
    padding-block: var(--space-sm);
  }

  .glass {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  }

  .logo {
    font-weight: 700;
    text-decoration: none;
    font-family: "Satoshi", sans-serif;
  }

  .nav ul {
    display: flex;
    gap: var(--space-lg);
    list-style: none;
  }

  .nav a {
    color: var(--muted);
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    color: var(--color-text-level-2);
  }
  .nav a:hover {
    color: var(--color-secondary);
  }
  .nav a.active {
    color: var(--color-text-level-1);
  }

  .menu-toggle {
    display: none;
    width: 44px;
    height: 44px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    background: linear-gradient(
      to bottom,
      rgba(85, 85, 85, 0.18),
      rgba(45, 45, 45, 0.08)
    );
    box-shadow:
      inset 0 1px rgba(255, 255, 255, 0.25),
      0 10px 30px rgba(0, 0, 0, 0.15);
  }

  .menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px auto;
    background: var(--color-text-level-1);
    transition: 0.3s;
  }

  .menu-toggle[aria-expanded="true"] span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-toggle[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle[aria-expanded="true"] span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      height: 100dvh;
      height: 100vh;

      margin-top: var(--space-sm);
      position: fixed;
      top: 100%;
      left: 0;
      right: 0;

      background: var(--color-bg);

      border: 1px solid var(--color-border);
      border-radius: 0.5rem;

      overflow: hidden;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transform: translateY(40px);
      transition: 0.25s ease;
    }

    .nav ul {
      flex-direction: column;
    }

    .nav li a {
      font-size: var(--font-size-level-4);
      display: block;
    }

    .nav.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0);
    }
  }
</style>
