---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Lettering | K4D3">
  <Container>
    <header class="container header-hero">
      <h1>
        <strong>Lettering Collection</strong>
      </h1>
      <h2 class="subtitle">
        Select hand-lettering pieces refined through careful iteration for
        technical precision.
      </h2>
    </header>
  </Container>

  <div class="divider simple-wave"></div>
  <div class="bg-light lettering">
    <div class="container-lg">
      <div class="grid-auto-fit">
        <img
          src="/lettering/truth-will-last.svg"
          alt='"Truth Will Last" bouncing brush script'
          width={1475.6}
          height={1726.4}
        />
        <img
          src="/lettering/artiswork.webp"
          alt='"Art is Work" elegant formal script combined with a bold serif style'
          width={1921}
          height={1921}
          style={{ alignSelf: "center" }}
        />
      </div>

      <img
        src="/lettering/thanks.svg"
        alt='"Thanks!" elegant formal script with large circular flourishes'
        width={1920}
        height={1371}
        loading="lazy"
      />

      {
        /* <picture>
            <source srcSet="/lettering/be-brave.webp" type="image/webp" />
            <source srcSet="/lettering/be-brave.png" type="image/png" />
            <img
              loading="lazy"
              src="/lettering/be-brave.png"
              alt='"Be Brave" disconnected script with arched baseline'
            />
          </picture> */
      }

      <img
        src="/lettering/be-brave.webp"
        alt='"Be Brave" disconnected script with arched baseline'
        width={1921}
        height={1151}
        loading="lazy"
      />

      <img
        src="/lettering/pressure.svg"
        alt='"Pressure" slanted bouncing brush script'
        width={1920}
        height={700}
        loading="lazy"
      />

      <div class="grid-auto-fit">
        <img
          src="/lettering/loosenup.svg"
          alt='"Loosen Up" slanted bouncing brush script'
          width={1920}
          height={1920}
          loading="lazy"
        />

        <img
          class="rotate"
          src="/lettering/letter-n.svg"
          alt='"N" with unique flourishes spinning around'
          width={1280}
          height={1280}
          loading="lazy"
          style={{
            maxWidth: "80%",
            justifySelf: "center",
            alignSelf: "center",
          }}
        />
      </div>

      <div class="grid-auto-fit">
        <img
          src="/lettering/jfs.svg"
          alt='"Just F*cking Start" slanted formal script with flourishes'
          width={1920}
          height={1920}
          loading="lazy"
        />

        <figure
          style={{
            maxWidth: "70%",
            justifySelf: "center",
            alignSelf: "center",
          }}
        >
          <img
            src="/lettering/typism-book.png"
            alt="Opened book showcasing featured work"
            width={1280}
            height={959}
            loading="lazy"
          />
          <figcaption class="book-caption">
            I'm excited to have my work published in{" "}
            <strong>Typism Book 6</strong> among so many admirable artists!
          </figcaption>
        </figure>
      </div>

      <div class="grid-auto-fit">
        <img
          src="/lettering/sunday.svg"
          alt='"Sunday" slanted brush script'
          width={1920}
          height={1000}
          loading="lazy"
        />

        <img
          src="/lettering/refine.svg"
          alt='"Refine" bouncing brush script'
          width={1920}
          height={1000}
          loading="lazy"
        />
      </div>

      <img
        src="/lettering/altruism.svg"
        alt='"Altruism" in all caps with slanted serif style'
        width={1920}
        height={650}
        loading="lazy"
      />

      <div class="grid-auto-fit">
        <img
          src="/lettering/ubn-collection.webp"
          alt='"Undefined By Numbers" in all caps with paintbrush texture'
          width={1600}
          height={1400}
          loading="lazy"
          style={{
            alignSelf: "center",
          }}
        />
        <img
          src="/lettering/t-flourished.svg"
          alt='"Letter T" capitalized and bold with a lot of decorative flourishes'
          width={1280}
          height={1280}
          loading="lazy"
        />
      </div>

      <img
        src="/lettering/communicate.svg"
        alt='"Communicate" elegant formal script with large flourishes'
        width={1920}
        height={1371}
        loading="lazy"
      />

      <div class="grid-auto-fit">
        <img
          src="/lettering/faux.svg"
          alt='"Faux" slanted brush script'
          width={1920}
          height={1000}
          loading="lazy"
        />
        <img
          src="/lettering/surreal.svg"
          alt='"Surreal" backslanted monoline script'
          width={1920}
          height={1000}
          loading="lazy"
        />
      </div>

      <img
        src="/lettering/rebuild.svg"
        alt='"Rebuild" elegant formal script with arched baseline'
        width={1018}
        height={394}
        loading="lazy"
      />

      <div class="grid-auto-fit">
        <img
          src="/lettering/balance.svg"
          alt='"Balance" slanted script with arched baseline'
          width={1920}
          height={1000}
          loading="lazy"
        />
        <img
          loading="lazy"
          src="/lettering/rhythm.svg"
          alt='"Rhythm" slanted brush script with aggressive style'
          width={1920}
          height={1000}
          loading="lazy"
        />
      </div>

      <div class="grid-auto-fit">
        <img
          src="/lettering/our-musings.svg"
          alt='"Our Musings" formal script with flourishes'
          width={1024}
          height={682}
          loading="lazy"
        />
        <img
          src="/lettering/letter-l.svg"
          alt='"Letter L" monoline script'
          width={742}
          height={682}
          loading="lazy"
          style={{
            maxWidth: "65%",
            alignSelf: "center",
            justifySelf: "center",
          }}
        />
      </div>

      <img
        src="/lettering/dr-lecter.svg"
        alt='"Dr. Lecter" in all caps with experimental gothic serif style'
        width={1920}
        height={450}
        loading="lazy"
      />

      <div class="grid-auto-fit">
        <img
          src="/lettering/letter-a.svg"
          alt='"Letter A" unique high-contrast style'
          width={1920}
          height={1920}
          loading="lazy"
        />
        <img
          src="/lettering/letter-b.svg"
          alt='"Letter B" blackletter'
          width={1920}
          height={1920}
          loading="lazy"
        />
        <img
          src="/lettering/letter-c.svg"
          alt='"Letter C" slanted brush script'
          width={1920}
          height={1920}
          loading="lazy"
        />
        <img
          src="/lettering/letter-d.svg"
          alt='"Letter D" slanted brush script'
          width={1920}
          height={1920}
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="divider simple-wave-end"></div>
  <div class="divider simple-wave"></div>
</Layout>

<style>
  /* lettering page */
  .bg-light {
    background-color: var(--color-bg-light);
    padding-block: var(--space-lg);
  }

  .lettering .grid-auto-fit {
    gap: 0;
  }
  .lettering img {
    padding: var(--space-sm);
  }

  /* .project-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}
.project-flex-item {
  width: 100%;
}
.project-flex-item.col-2 {
  width: calc(50% - 8px);
}
.project-flex-item.col-2.big {
  width: 65%;
}
.project-flex-item.col-2.small {
  width: 25%;
}
.project-flex-item.col-4 {
  width: calc(25% - 12px);
} */

  .book-caption {
    color: var(--color-bg);
    padding-top: var(--space-xs);
    padding-inline: var(--space-sm);
    font-size: var(--font-size-caption);
    text-align: center;
    justify-self: center;
  }

  /* infinite rotation of letter N */
  .rotate {
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
