---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Logos | K4D3">
  <Container>
    <header class="container header-hero">
      <h1>
        <strong>Logofolio</strong>
      </h1>
      <h2 class="subtitle">
        A selection of custom logotypes and brand marks from over the years.
      </h2>
    </header>
  </Container>

  <div class="logos">
    <div class="container-xl">
      <div class="grid-auto-fit no-gap">
        <img
          src="/logos/yield-serif.svg"
          alt='"Yield & Co." slanted serif with an American flag symbol'
          width={1024}
          height={768}
        />
        <img
          src="/logos/yield-script.svg"
          alt='Alternative "Yield" slanted script'
          width={1024}
          height={768}
        />
      </div>

      <div class="grid-auto-fit no-gap">
        <img
          src="/logos/variant-v1.svg"
          alt='"Variant" slanted brush script'
          width={1024}
          height={768}
        />
        <img
          src="/logos/variant-v2.svg"
          alt='"Variant" alternative brush script with arched baseline'
          width={1024}
          height={768}
        />
      </div>

      <div class="grid-auto-fit no-gap">
        <img
          src="/logos/kt-mark.svg"
          alt='"KT" gothic monogram'
          width={1024}
          height={768}
          loading="lazy"
        />
        <img
          src="/logos/ktype-script.svg"
          alt='"Ktype" upright brush script'
          width={1024}
          height={768}
          loading="lazy"
        />
      </div>

      <div class="grid-auto-fit no-gap">
        <img
          src="/logos/our-musings.svg"
          alt='"Our Musings" slanted formal script with flourishes'
          width={1024}
          height={768}
          loading="lazy"
        />
        <img
          src="/logos/our-musings-mark.svg"
          alt='"OM" script monogram with stars'
          width={1024}
          height={768}
          loading="lazy"
        />
      </div>

      <img
        src="/logos/humility.svg"
        alt='"Humility" friendly script with a tagline that says "a provisions company"'
        width={1024}
        height={768}
        loading="lazy"
      />
      <img
        src="/logos/d-mark-v2.svg"
        alt='"D" slanted brush script logomark'
        width={1024}
        height={768}
        loading="lazy"
      />
      <img
        src="/logos/quiver.svg"
        alt='"Quiver" slanted script with disconnected letters'
        width={1024}
        height={768}
        loading="lazy"
      />
      <img
        src="/logos/m-mark.svg"
        alt='"M" slanted brush script logomark'
        width={1024}
        height={768}
        loading="lazy"
      />
      <img
        src="/logos/zero-v2.svg"
        alt='"Zero" monoline script with arched baseline'
        width={1024}
        height={768}
        loading="lazy"
      />
      <img
        src="/logos/diamond-house-mark.svg"
        alt="Diamond inside of a pentagon house shape with a sunburst effect"
        width={1024}
        height={768}
        loading="lazy"
      />
    </div>
  </div>
</Layout>
