---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import EmailCTA from "../components/EmailCTA.astro";
import { ClientRouter, fade, slide } from "astro:transitions";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter fallback="animate" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <EmailCTA />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "Satoshi", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text-level-1);
    overflow-x: hidden;

    /* border-top: 2px solid; */
    border-bottom: 2px solid;
    border-image: linear-gradient(
        to left,

        var(--color-secondary),
        var(--color-tertiary),
        var(--color-primary)
      )
      1;
  }
</style>
